.system {
  &.wrapper {
    background-color: $colorSystemBg;
    background-image: url(../images/bg2.jpg), url(../images/bg1.jpg);
    background-position: center bottom;
    background-repeat: no-repeat, repeat-x;
    background-size: 1600px, 10px;
    .header {
      height: 160px;
      @include screen('mobile') {
        height: 80px;
        display: flex;
        align-items: center;
      }
    }
    .main {
      margin-bottom: 150px;
      @include screen('mobile') {
        padding-top: 80px;
      }
    }
    .contentBlock {
      max-width: 860px;
      margin: 0 auto;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.7) 39%, rgba(255, 255, 255, 0.8) 100%);
      box-shadow: 0px 4px 4px rgba(203, 207, 221, 0.5);
      backdrop-filter: blur(15px);
      border-radius: 10px;
    }
  }
  .flexForm {
    .btnGrp {
      .btn {
        min-width: 190px;
      }
    }
  }
  .formBottom {
    text-align: center;
    padding-top: 2em;
    margin-top: 2em;
    p {
      font-size: 0.938em;
    }
  }
  div + .formBottom {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      top: 0;
      display: block;
      width: 860px;
      height: 1px;
      background-color: $colorGray;
    }
  }
}
